.--graphium-window{
    height: 75%;
    width: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 80px 2px rgba(0,0,0,0.3);
    overflow: auto;
}

--graphium-window-tab{
    display: inline-flex;
    width: 90%;
}

.table-wrapper
{

}

#file-table{
    border-collapse: collapse;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#file-table tr{
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
}

html, body {
    overflow: auto;
}

--graphium-window-title{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: start;
}

--graphium-window-options{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.table-row{
    padding: 8px;
}
h1{
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: lighter;
}

a{
    color: white;
    text-decoration: none;
}



.form-submit {
    font-size: 12px;
    background-color: #B0B0B0;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 26px;
    transition: ease all 0.15s;
    margin: 10px;
    width: 100%;
}

.form-submit:hover {
    background-color: #d0cfcf;
}

h1{
    font-size: 25px;
    font-weight: bold;
}

.download-btn {
    font-size: 12px;
    background-color: #266C91;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 26px;
    transition: ease all 0.15s;
    width: 80%;
}

.download-btn:hover {
    background-color: #2e87af;
}

.view-btn {
    font-size: 12px;
    background-color: #b2b2b2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 26px;
    transition: ease all 0.15s;
    width: 60%;

}

.insights-btn {
    font-size: 12px;
    background-color: #b2b2b2;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 26px;
    width: 26px;
    transition: ease all 0.15s;
}

.view-btn:hover {
    background-color: #bdbdbd;
}
.form-input {
    position: relative;
    width: 98%;
    height: 20px;
    margin: 10px;

}

.table-heading{
    font-size: 12px;
    opacity: 50%;
    text-align: left;
    padding: 15px;
}

.table-content{
    text-align: left;
    padding: 15px;
}

.search-input{
    height: 10px;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.disabled{
    cursor: not-allowed;
}

#wrapper {
    width: 100%;
    display: flex;
}

/*#wrapper > div {*/
/*    flex-grow: 1;*/
/*}*/

.button-center{
    text-align: center;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;

}
.modal{
    background-color: white;
    width: 50%;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;

}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
