<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Charity List</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container" th:if="${!files.isEmpty}">
    <h1 th:text="${title}">Title</h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Expires On</th>
            <th scope="col">Tag</th>
            <th scope="col">Access Level</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <th scope="row" th:text="${file.fileName}">File Name</th>
            <td th:text ="${file.username}">Author</td>
            <td th:text="${file.date}"></td>
            <td>N/A</td>
            <td th:text="${file.tag}">Tag</td>
            <td th:text="${file.accessLevel}">Access Level</td>
            <td><a th:attr="href=@{'/file/download/'+${file.fileId}}" download><button type="button" class="btn btn-primary">Download</button></a></td>
            <td><span th:if="${file.fileType == 'application/pdf'}"><a th:href="@{/file/view/{furl}(furl=${file.fileId})}"><button type="button" class="btn btn-primary">View</button></a></span><span th:unless="${file.fileType == 'application/pdf'}"><button type="button" class="btn btn-primary" disabled>View</button></span></td>
        </tr>
        </tbody>
    </table>
</div>d

<div class="container" th:if="${files.isEmpty}">
    No matching files.
</div>

</body>
</html>