<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main-layout}">

<head>
    <meta charset="UTF-8">
    <title>My Files</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/files.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
    />
    <script>
        function addRowTable(value, route) {
            var tableRow = document.createElement("tr");
            tableRow.className ="table-content dataRow";
            var username = document.createElement("td");
            username.className ="table-content";
            var organisation = document.createElement("td");
            organisation.className ="table-content";
            var fileName = document.createElement("th");
            fileName.className ="table-content";
            fileName.scope="row";
            var date = document.createElement("td");
            date.className ="table-content";
            var tag = document.createElement("td");
            tag.className ="table-content";
            var accessLevel = document.createElement("td");
            accessLevel.className ="table-content";
            // var fileType = document.createElement("td");
            // fileType.className ="table-content";
            var subject = document.createElement("td");
            subject.className ="table-content";
            var comment = document.createElement("td");
            comment.className ="table-content";
            fileName.innerText = value['fileName'];
            username.innerText = value['username'];
            organisation.innerText=value['organisationName']
            date.innerText = value['date'];
            tag.innerText = value['tag'];
            accessLevel.innerText=value['accessLevel'];
            // fileType.innerText=value['fileType'];
            subject.innerText=value['subject'];
            comment.innerText=value['comment'];

            var link = document.createElement("td");
            var div = document.createElement("div");
            div.id = "wrapper";
            var div2 = document.createElement("div");
            div2.id = "c1";
            var div3 = document.createElement("div");
            div3.id = "c11";
            var div3 = document.createElement("div");
            div3.id = "c2";
            var div4 = document.createElement("div");
            div4.id = "c3";

            var downloadLink = document.createElement("a");
            downloadLink.href='/file/download/' + value['fileId'];
            var downloadButton = document.createElement("button");
            downloadButton.type="button";
            downloadButton.className = "download-btn";
            downloadButton.innerText="Download";
            downloadLink.append(downloadButton);
            div2.append(downloadLink);
            div.append(div2);
            var viewLink = document.createElement("a");
            viewLink.href='/file/view/' + value['fileId'];
            var viewButton = document.createElement("button");
            viewButton.type="button";
            viewButton.className = "view-btn";
            viewButton.innerText="View";
            viewLink.append(viewButton);
            div3.append(viewLink);
            div.append(div3);

            if (route == "myFiles"){
                var modifyLink = document.createElement("a");
                modifyLink.href='/file/modify/' + value['fileId'];
                var modifyButton = document.createElement("button");
                modifyButton.type="button";
                modifyButton.className = "download-btn";
                modifyButton.innerText="Modify";
                modifyLink.append(modifyButton);
                div4.append(modifyLink);
                div.append(div4);
            }
            link.append(div);
            tableRow.append(fileName);
            tableRow.append(username);
            tableRow.append(organisation);
            tableRow.append(date);
            tableRow.append(subject);
            tableRow.append(comment);
            tableRow.append(tag);
            tableRow.append(accessLevel);
            // tableRow.append(fileType);
            tableRow.append(link);

            var table = document.getElementById("file-table");
            table.append(tableRow);
        }
        function loadTable(evt,route){
            openFiles(evt,route);
        }

        function openFiles(evt, route) {

            let div;
            var i, tablinks;
            var fullRoute = "http://localhost:8080/api/user/" + route;
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            var dataRowsToRemove = document.getElementsByClassName("dataRow");
            var index = 0;
            while(index < dataRowsToRemove.length){
                dataRowsToRemove[index].remove();
            }

            // Create a request variable and assign a new XMLHttpRequest object to it.
            var request = new XMLHttpRequest()

            // Open a new connection, using the GET request on the URL endpoint
            request.open('GET', fullRoute, true)
            console.log("Getting the Files");
            request.onload = function () {
                // Begin accessing JSON data here
                var json = request.responseText;
                var files = JSON.parse(json);
                for (let j = 0; j < files.length; j++) {
                    addRowTable(files[j], route);
                }
            }

            // Send request
            request.send()

            evt.currentTarget.className += " active";
        }

        function niceInputs() {
            [].forEach.call(document.getElementsByClassName("form-input"), (form_input) => {
                form_input.getElementsByTagName("input")[0].addEventListener("focus", () => {
                    form_input.classList.add("active");
                });

                form_input.getElementsByTagName("input")[0].addEventListener("focusout", () => {
                    if (form_input.getElementsByTagName("input")[0].value === "") {
                        form_input.classList.remove("active");
                    }
                });

                if (form_input.getElementsByTagName("input")[0].value !== "") {
                    form_input.classList.add("active");
                }

            });

        }

        window.onload = () => {
            niceInputs();
        }
        function searchTerm(evt){
            var term = document.forms["searchForm"]["search"].value;
            loadTable(evt,"searchFiles/" + term);
            return false;

        }
    </script>
</head>


<body onload="loadTable(event, 'myFiles');">
    <div layout:fragment="content">
        <div style="display: inline-flex;width: 87.5%;padding-bottom: 10px">
            <div style="width: 50%;display: flex;justify-content: left;align-items: start;">
                <h1 th:text = "${organisationName}"></h1>
            </div>
            <div style="width: 25%;display: flex;justify-content: right;align-items: end;">
                <a/>
            </div>
            <div style="width: 25%;display: flex;justify-content: right;align-items: end;">
                <a style="color: white; text-decoration: none" href="/file">UPLOAD A FILE</a>
            </div>
        </div>
        <div class="--graphium-window">
            <div>
                <div>
                    <button onclick="loadTable(event, 'myFiles')">My Files</button>
                    <button onclick="loadTable(event, 'allFiles')">All Files</button>
                    <button onclick="loadTable(event, 'myOrgFiles')">Organisation Files</button>
                    <button onclick="loadTable(event, 'myPartnerFiles')">Partners Files</button>
                    <button onclick="loadTable(event, 'publicFiles')" >Public Files</button>
                </div>

                <div>
                    <div>
                        <table id="file-table" style="width: 100%;padding-left: 10px;padding-right: 10px">
                            <thead>
                            <tr>
                                <th class="table-heading" scope="col">File Name</th>
                                <th class="table-heading" scope="col">Author</th>
                                <th class="table-heading" scope="col">Organisation</th>
                                <th class="table-heading" scope="col">Date</th>
                                <th class="table-heading" scope="col">Subject</th>
                                <th class="table-heading" scope="col">Comment</th>
                                <th class="table-heading" scope="col">Tag</th>
                                <th class="table-heading" scope="col">Access Level</th>
<!--                                <th class="table-heading" scope="col">File Type</th>-->
                                <th class="table-heading" scope="col">
                                    <form action="/searchFiles" th:method="get">
                                        <input class="search-input" aria-describedby="Enter a term to search for files." id="search" name="search" placeholder="Search for file" type="text" value=""/>
                                    </form>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            </div>
    </div>
</body>
</html>