<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main-layout}">

<head>
    <meta charset="UTF-8">
    <title>My Files</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/files.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        async function openFiles(evt, route) {
            let div;
            var i, tablinks;
            var fullRoute = "http://localhost:8080/api/" + route;
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            var dataRowsToRemove = document.getElementsByClassName("dataRow");
            var index = 0;
            while(index < dataRowsToRemove.length){
                dataRowsToRemove[index].remove();
            }
            fetch(fullRoute)
                .then(response => response.json())
                .then(data => data.forEach(addRowTable));
            evt.currentTarget.className += " active";
        }
        function addRowTable(value, index, array) {
            var tableRow = document.createElement("tr");
            tableRow.className="dataRow";
            var username = document.createElement("td");
            var fileName = document.createElement("th");
            fileName.scope="row";
            var date = document.createElement("td");
            var expiryDate = document.createElement("td");
            var tag = document.createElement("td");
            var accessLevel = document.createElement("td");
            var fileType = document.createElement("td");
            var download = document.createElement("td");
            var view = document.createElement("td");
            fileName.innerText = value['fileName'];
            username.innerText = value['username'];
            date.innerText = value['date'];
            expiryDate.innerText = "N/A";
            tag.innerText = value['tag'];
            accessLevel.innerText=value['accessLevel'];
            fileType.innerText=value['fileType'];
            var downloadLink = document.createElement("a");
            downloadLink.href='/file/download/' + value['fileId'];
            var downloadButton = document.createElement("button");
            downloadButton.type="button";
            downloadButton.className = "btn btn-primary";
            downloadButton.innerText="Download";
            downloadLink.append(downloadButton);
            download.append(downloadLink);
            var viewLink = document.createElement("a");
            viewLink.href='/file/view/' + value['fileId'];
            var viewButton = document.createElement("button");
            viewButton.type="button";
            viewButton.className = "btn btn-primary";
            viewButton.innerText="View";
            viewLink.append(viewButton);
            view.append(viewLink);



            tableRow.append(fileName);
            tableRow.append(username);
            tableRow.append(date);
            tableRow.append(expiryDate);
            tableRow.append(tag);
            tableRow.append(accessLevel);
            tableRow.append(fileType);
            tableRow.append(download);
            tableRow.append(view);
            var table = document.getElementById("table");
            table.append(tableRow);
        }
        function niceInputs() {
            [].forEach.call(document.getElementsByClassName("form-input"), (form_input) => {
                form_input.getElementsByTagName("input")[0].addEventListener("focus", () => {
                    form_input.classList.add("active");
                });

                form_input.getElementsByTagName("input")[0].addEventListener("focusout", () => {
                    if (form_input.getElementsByTagName("input")[0].value === "") {
                        form_input.classList.remove("active");
                    }
                });

                if (form_input.getElementsByTagName("input")[0].value !== "") {
                    form_input.classList.add("active");
                }

            });

        }

        window.onload = () => {
            niceInputs();
        }
    </script>
</head>


<body onload="openFiles(event, 'myFiles/user')">
<div layout:fragment="content">
    <div style="display: inline-flex;width: 87.5%;padding-bottom: 10px">
        <div style="width: 50%;display: flex;justify-content: left;align-items: start;">
            <h1>My Organisation Name</h1>
        </div>
        <div style="width: 25%;display: flex;justify-content: right;align-items: end;">
            <a href="/myFiles">VIEW MY FILES</a>
        </div>
        <div style="width: 25%;display: flex;justify-content: right;align-items: end;">
            <a href="/file">UPLOAD A FILE</a>
        </div>
    </div>
    <div class="--graphium-window">
        <div>
            <form action="/searchFiles" th:method="get">
                <div style="display:inline-flex; width: 100%">
                    <div style="width:75% ">
                    <input class="form-input" aria-describedby="Enter a term to search for files." id="search" name="search" placeholder="Search for file" type="text" value=""/>
                    </div>
                    <div style="width:25%;display: flex;justify-content: right;align-items: end;">
                    <button class="form-submit">Search</button>
                    </div>
                </div>

            </form>
        </div>
        <div>
            <div class="tab">
                <button class="tablinks" onclick="openFiles(event, 'myFiles/user')">My Files</button>
                <button class="tablinks" onclick="openFiles(event, 'allFiles/user')">All Files</button>
                <button class="tablinks" onclick="openFiles(event, 'myOrgFiles/user')">Organisation Files</button>
                    <button class="tablinks" onclick="openFiles(event, 'myPartnerFiles/user')">Partners Files</button>
                    <button class="tablinks" onclick="openFiles(event, 'publicFiles')">Public Files</button>
                  </div>

                  <div id="allDetails">
                    <div id ="tableDiv" class="container">
                      <table id ="table" class = "table" style="width: 100%;padding-left: 10px;padding-right: 10px">
                          <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Date</th>
                            <th scope="col">Expires On</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Access Level</th>
                            <th scope="col">File Type</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                      </table>
                    </div>
                  </div>

        </div>
    </div>
</div>
</body>

</html>
